* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  height: 100%;
  /* border: 2px solid red; */
}
header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 6%;
  padding-left: 4.8%;
  height: 100px;
  align-items: center;
}
header .nav-right ul {
  list-style: none;
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  font-weight: 400;
  font-size: 20px;
}
header .nav-right ul li {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}
header .nav-right ul .active {
  background-color: hsl(0, 94%, 66%);
  /* border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px; */
  color: white;
}
header .nav-left {
  /* border:  2px solid black; */
  /* height: 38px; */
  /* background: url(./images/logo-bookmark.svg); */
  border-radius: 5px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
}
.hero {
  /* border: 2px solid red; */
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 5%;
}
.hero .hero-left {
  /* border: 2px solid rgb(23, 0, 128); */
  width: 47%;
}
.hero .hero-left .hero-left-gap {
  padding-left: 9%;
  padding-top: 15%;
  padding-right: 20%;
}
.hero .hero-left .hero-left-gap h1 {
  padding-bottom: 3%;
  font-weight: 500;
  font-size: 50px;
}
.hero .hero-left .hero-left-gap p {
  font-weight: 400;
  font-size: 18px;
  color: hsl(240, 0%, 41%);
  padding-bottom: 3%;
}
.hero .hero-left .hero-left-gap button {
  margin-top: 3%;
  margin-bottom: 20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: 0;
}
.hero .hero-left .hero-left-gap .hero-button {
  margin-left: 3%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 91%);
  color: hsl(240, 0%, 41%);
  border: 0;
}
.hero .hero-right {
  width: 53%;
  /* border: 2px solid rgb(23, 0, 128);  */
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}
.hero .hero-right .hero-img {
  height: 80%;
  width: 85%;
  /* border: 2px solid rgb(37, 185, 204);  */
  position: absolute;
  right: 5%;
  /* top: ; */
  object-fit: cover;
}
.hero .hero-right .hero-img img {
  width: 100%;
}
.hero .hero-right .hero-color {
  margin-top: 30%;
  height: 50%;
  width: 70%;
  white-space: 200px;
  /* border: 2px solid rgb(204, 62, 37);  */
  background-color: hsl(231, 69%, 60%);
  border-radius: 90px 0 0 90px;
}
.after-hero {
  /* border: 2px solid red; */
  text-align: center;
  padding-top: 2%;
}
.after-hero h3 {
  /* border: 2px solid red; */
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 1%;
}
.after-hero p {
  /* border: 2px solid red; */
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1%;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: hsl(240, 0%, 41%);
}
/* .tab{
     border: 2px solid red;
     height: 100%;
} */
.tab .ulist {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
}
/* .tab .ulist .list1{
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    text-decoration-color: red; 
} */
.tab .ulist li:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
  text-decoration-color: red;
}

.tab .ulist li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
hr {
  width: 60%;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

.maintab {
  margin-top: 3%;
}
.maintab .tab1 {
  /* border: 2px solid rgb(137, 30, 163); */
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
  height: 100%;
}
.maintab .tab1 .tab1-left {
  /* border: 2px solid rgb(23, 0, 128); */
  width: 47%;
}
.maintab .tab1 .tab1-left .tab1-left-gap {
  padding-left: 9%;
  padding-top: 15%;
  padding-right: 20%;
}
.maintab .tab1 .tab1-left .tab1-left-gap h1 {
  padding-bottom: 3%;
  font-weight: 500;
  font-size: 40px;
}
.maintab .tab1 .tab1-left .tab1-left-gap p {
  font-weight: 400;
  font-size: 18px;
  color: hsl(240, 0%, 41%);
  padding-bottom: 3%;
  line-height: 30px;
}
.maintab .tab1 .tab1-left .tab1-left-gap button {
  margin-top: 3%;
  margin-bottom: 20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: 0;
}
/* .tab1 .tab1-left .tab1-left-gap .tab1-button{
   margin-left: 3%;
   background-color: rgb(255, 255, 255);
   box-shadow: 2px 2px rgb(124, 124, 124);
   color: black;
   border: 1px solid rgb(124, 124, 124);
} */
.maintab .tab1 .tab1-right {
  width: 53%;
  /* border: 2px solid rgb(23, 0, 128);  */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 450px;
}
.maintab .tab1 .tab1-right .tab1-img {
  height: 80%;
  width: 75%;
  /* border: 2px solid rgb(37, 185, 204);  */
  position: absolute;
  left: 9%;
  top: 0;
  object-fit: cover;
}
.maintab .tab1 .tab1-right .tab1-img img {
  width: 100%;
}
.maintab .tab1 .tab1-right .tab1-color {
  margin-top: 30%;
  height: 70%;
  width: 70%;
  white-space: 200px;
  /* border: 2px solid rgb(204, 62, 37);  */
  background-color: hsl(231, 69%, 60%);
  border-radius: 0px 90px 90px 0px;
}

.after-tab {
  padding-top: 6%;
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 0;
}
.after-tab h3 {
  /* border: 2px solid red; */
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 1%;
}
.after-tab p {
  /* border: 2px solid red; */
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1%;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: hsl(240, 0%, 41%);
}

section {
  margin-top: 4%;
  /* height:100%; */
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-evenly;
  padding-left: 12%;
  padding-right: 12%;
}
section .container {
  height: fit-content;
  width: 25%;
  /* border: 2px solid blue; */
  text-align: center;
  /* box-shadow: 1px 1px 1px 1px hsl(240, 0%, 41%); */
  box-shadow: 0px 5px 1px 1px hsl(0, 0%, 91%);
  border-radius: 15px;
  padding-bottom: 5%;
}
section .container img {
  /* border: 2px solid blue; */
  margin-bottom: 8%;
  margin-top: 8%;
}
section .container h3 {
  /* border: 2px solid blue; */
  margin-bottom: 2%;
  margin-top: 2%;
}
section .container p {
  /* border: 2px solid blue; */
  margin-bottom: 2%;
  margin-top: 2%;
  color: hsl(240, 0%, 41%);
}
section .container .dot {
  /* border: 2px solid blue; */
  margin-bottom: 2%;
  margin-top: 4%;
  word-spacing: 12px;
  color: hsl(240, 0%, 41%);
}
section .container button {
  margin-top: 4%;
  background: hsl(231, 69%, 60%);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 0;
}
section .container1 {
  margin-top: 2%;
  /* border: 2px solid blue; */
}
section .container2 {
  margin-top: 5%;
  /* border: 2px solid blue; */
}
section .container3 {
  margin-top: 7%;
  margin-bottom: 7%;
  /* border: 2px solid blue; */
}

.after-section {
  padding-top: 6%;
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 0;
}
.after-section h3 {
  /* border: 2px solid red; */
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 1%;
}
.after-section p {
  /* border: 2px solid red; */
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1%;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: hsl(240, 0%, 41%);
}

.question-section {
  /* border: 2px solid red; */
  height: fit-content;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 5%;
  text-align: center;
}

.question-section hr {
  width: 100%;
}
.question-section .question {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.question-section .question img{
  height: 12px;
}

.question-section button {
  padding: 10px;
  border-radius: 5px;
  background-color: hsl(231, 69%, 60%);
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
}

.upto_date {
  width: 100%;
  height: fit-content;
  padding-top: 2%;
  background-color: hsl(231, 69%, 60%);
  text-align: center;
}
.upto_date p {
  color: white;
  padding-bottom: 30px;
  word-spacing: 1px;
  letter-spacing: 8px;
  font-size: 12px;
  padding-top: 5%;
}
.upto_date h1 {
  color: white;
  padding-bottom: 8px;
  letter-spacing: 4px;
}
.upto_date .search {
  margin-top: 2%;
  padding-bottom: 5%;
  /* display: flex; */
}
.upto_date input {
  /* padding: 10px; */
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 75px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: hsl(240, 0%, 41%);
}

.upto_date button {
  /* padding: 10px; */
  border-radius: 5px;
  color: white;
  background: hsl(0, 94%, 66%);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 2%;
}


footer{
    height: 200px;
    width: 100%;
    /* border: 2px solid blue; */
    /* background: hsl(229, 18%, 69%); */
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    background: hsl(229, 31%, 21%);
}
footer .foter-left{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    width: 50%;
}
footer .foter-left ul{
    list-style: none;
    display: flex;
    gap: 10%;
    color: white;
    text-transform: uppercase;
    
}
footer .foter-left img{
    height:30px ;
    width: 140px;
}
footer .foter-right{
    /* border: 2px solid blue; */
    width: 20%;
    display: flex;
    height:20px ;
    width: 110px;
    gap: 20%;
    margin-right: 10%;
}

/* .......................................................responsive design */
@media (max-width:376px) {
    body {
        max-width: 375px;
        margin: 0 auto;
        font-family: "Rubik", sans-serif;
        /* height: 100%; */
        /* border: 2px solid red; */
        width: 100%;
      }
      header .nav-right ul {
        display: none;
      }
    
      .hero {
        display: flex;
        width: 100%;
        height: fit-content;
        margin-top: 5%;
        margin-bottom: 15%;
        flex-direction: column-reverse;
      }
      .hero .hero-left {
        width: 100%;
      }
      .hero .hero-left .hero-left-gap {
        text-align: center;
        margin-left: 7%;
      }
      .hero .hero-left .hero-left-gap h1 {
        padding-bottom: 5%;
        font-weight: 500;
        font-size: 22px;
      }
      .hero .hero-left .hero-left-gap p {
        font-weight: 400;
        font-size: 12px;
        padding-bottom: 9%;
      }
      .hero .hero-left .hero-left-gap button {
        margin-top: 3%;
        margin-bottom: 5%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 10px;
      }
      .hero .hero-left .hero-left-gap .hero-button {
        margin-left: 3%;
        border: 0px ;
      }
      .hero .hero-right {
        width: 100%;
        height: 250px;
      }
      .hero .hero-right .hero-img {
        height: 70%;
        width: 90%;

      }
      .hero .hero-right .hero-color {
        margin-top: 20%;
        height: 90%;
        width: 70%;
        white-space: 200px;
        /* border: 2px solid rgb(204, 62, 37);  */
        background-color: hsl(231, 69%, 60%);
        border-radius: 90px 0 0 90px;
      }
      .after-hero {
        /* border: 2px solid red; */
        text-align: center;
        padding-top: 2%;
      }
      .after-hero h3 {
        /* border: 2px solid red; */
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 1%;
      }
      .after-hero p {
        /* border: 2px solid red; */
        margin-left: 4%;
        margin-right: 5%;
        padding-top: 1%;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: hsl(240, 0%, 41%);
        
      }



      /* .tab{
           border: 2px solid red;
           height: 100%;
      } */
      .tab .ulist {
        flex-direction: column;
        text-align: center;
        margin-bottom: 9%;
      }
      .tab .ulist li a {
        text-decoration: none;
        font-size: 20px;
        color: black;
      }
      hr {
       display: none;
      }
      



      .maintab {
        margin-top: 3%;
      }
      .maintab .tab1 {
        /* border: 2px solid rgb(137, 30, 163); */
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        height: 100%;
        height: fit-content;
      }
      .maintab .tab1 .tab1-left {
        /* border: 2px solid rgb(23, 0, 128); */
        width: 100%;
        
      }
      .maintab .tab1 .tab1-left .tab1-left-gap {
        padding-left: 9%;
        padding-top: 15%;
        padding-right: 15%;
        text-align: center;
        margin-left: 9%;
      }
      .maintab .tab1 .tab1-left .tab1-left-gap h1 {
        padding-bottom: 3%;
        font-weight: 500;
        font-size: 20px;
      }
      .maintab .tab1 .tab1-left .tab1-left-gap p {
        font-weight: 400;
        font-size: 12px;
        color: hsl(240, 0%, 41%);
        padding-bottom: 3%;
        /* line-height: 30px; */
        line-height: 1.2;
      }
      .maintab .tab1 .tab1-left .tab1-left-gap button {
        display: none;
      }
      .maintab .tab1 .tab1-right {
        width: 100%;
        /* border: 2px solid rgb(23, 0, 128);  */
        display: flex;
        flex-direction: column;
        position: relative;
        height: 250px;
      }
      .maintab .tab1 .tab1-right .tab1-img {
        height: 70%;
        width: 80%;
        /* border: 2px solid rgb(37, 185, 204);  */
        position: absolute;
        left: 9%;
        top: 0;
        object-fit: cover;
      }
      .maintab .tab1 .tab1-right .tab1-img img {
        width: 100%;
      }
      .maintab .tab1 .tab1-right .tab1-color {
        margin-top: 20%;
        height: 70%;
        width: 70%;
        white-space: 200px;
      }
      .after-tab {
        padding-top: 6%;
        /* border: 2px solid red; */
        text-align: center;
        margin-top: 12%;
      }
      .after-tab h3 {
        /* border: 2px solid red; */
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 1%;
      }
      .after-tab p {
        /* border: 2px solid red; */
        margin-left: 9%;
        margin-right: 9%;
        padding-top: 1%;
        font-size: 12px;
        line-height: 32px;
        font-weight: 400;
        color: hsl(240, 0%, 41%);
        line-height: 1.2;
      }
      
      section {
        flex-direction: column;
      }
      section .container {
        height: fit-content;
        width: 100%;
      }
      


      .after-section {
        padding-top: 6%;
        /* border: 2px solid red; */
        text-align: center;
        margin-top: 0;
      }
      .after-section h3 {
        /* border: 2px solid red; */
        font-size: 20px;
        margin-top: 9%;
        margin-left: 15%;
        margin-right: 15%;
      }
      .after-section p {
        /* border: 2px solid red; */
        margin-left: 10%;
        margin-right: 10%;
        font-size: 12px;
        line-height: 1.2;
        
      }
      
      .question-section {
        /* border: 2px solid red; */
        height: fit-content;
        width: 100%;
        margin: 0;
        margin-top: 5%;
        padding: 5%;
        text-align: center;
      }
      
      .question-section hr {
        display: none;
      }
      .question-section .question {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0px 1px gray;
      }
      .question-section button {
        padding: 10px;
        border-radius: 5px;
        background-color: hsl(231, 69%, 60%);
        color: white;
        margin-top: 10%;
        margin-bottom: 10%;
      }
      


      .upto_date {
        width: 100%;
        height: fit-content;
        padding-top: 2%;
        background-color: hsl(231, 69%, 60%);
        text-align: center;
      }
      .upto_date p {
        color: white;
        padding-bottom: 30px;
        word-spacing: 1px;
        letter-spacing: 8px;
        font-size: 10px;
        padding-top: 5%;
      }
      .upto_date h1 {
        color: white;
        padding-bottom: 8px;
        letter-spacing: 4px;
        font-size: 20px;
        padding-left: 2%;
        padding-right: 2%;
        line-height: 32px;
      }
      .upto_date h1 br{
        display: none;
      }
      .upto_date .search {
        margin-top: 2%;
        width: 70%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        gap: 5px;
      }
      .upto_date input {
        /* padding: 10px; */
        border-radius: 5px;
        padding-left: 12px;
        padding-right: 75px;
        padding-top: 12px;
        padding-bottom: 12px;
        color: hsl(240, 0%, 41%);
      }
      
      .upto_date button {
        /* padding: 10px; */
        border-radius: 5px;
        color: white;
        background: hsl(0, 94%, 66%);
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0;
      }
      
      
      footer{
          height: 250px;
          width: 100%;
          /* border: 2px solid blue; */
          /* background: hsl(229, 18%, 69%); */
          display: flex;
          justify-content: space-between;
          padding-top: 5%;
          background: hsl(229, 31%, 21%);
          flex-direction: column;
          text-align: center;
          align-items: center;
      }
      footer .foter-left{
          /* border: 2px solid blue; */
          display: flex;
          justify-content: space-around;
          width: 50%;
          flex-direction: column;
          gap: 40px;
      }
      footer .foter-left ul{
          list-style: none;
          display: flex;
          gap: 10%;
          color: white;
          text-transform: uppercase;
          flex-direction: column;
          justify-content: space-around;
          gap: 30px;
          font-size: 12px;
          
      }
      footer .foter-left img{
          height:20px ;
          width: 125px;
          padding-left: 25%;
      }
      footer .foter-right{
          /* border: 2px solid blue; */
          width: 20%;
          display: flex;
          height:25px ;
          width: 100px;
          gap: 20%;
          margin-right: 10%;
          justify-content: space-around;
          padding-left: 9%;
          padding-bottom: 1%;
          margin-bottom: 2%;
      }
}